<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Cidades Inteligentes</h1>
            <p class="lead text-muted">Análise de sentimentos de Cidades Inteligentes</p>
        </div>
    </section>
    <div class="album text-muted">
        <div class="container">
            <div class="row">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-circle *ngFor="let m of ruas"
                [fillColor]="'red'"
                [radius]="50"
                [latitude]="m.latitude" [longitude]="m.longitude">
        <agm-info-window>
            <strong>olá {{m.label}}</strong>
        </agm-info-window>
    </agm-circle>
</agm-map>