<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tcc.Shared.Properties.Settings.cidadesConnectionString"
            connectionString="server=localhost;user id=root;password=812110;persistsecurityinfo=True;database=cidades"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>