<style>
    .jumbotron {
        background-color: #01579B;
        color: #ffffff;
    }
</style>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-thumbnail"><img class="img-responsive" src="../img/ro.jpg"></div>
            <div class="panel-body">
                <p class="lead">{{cidade}}</p>
                <div class="list-group">
                    <button type="button" class="list-group-item">
                        <span class="badge">14</span>
                        Cras justo odio
                    </button>
                    <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
                    <button type="button" class="list-group-item">Morbi leo risus</button>
                    <button type="button" class="list-group-item">Porta ac consectetur ac</button>
                    <button type="button" class="list-group-item">Vestibulum at eros</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">

            </div>
        </div>
    </div>
    <h3></h3>
</div>