<style>
    .jumbotron {
        background-color: #01579B;
        color: #ffffff;
    }
</style>
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-thumbnail"><img class="img-responsive" src="../img/ro.jpg"></div>
            <div class="panel-body">
                <p class="lead">{{cidade.cidade}}</p>
                <div class="list-group">
                    <button type="button" class="list-group-item">
                        <span class="badge">{{cidade.bairros}}</span>
                        Bairros
                    </button>
                    <button type="button" class="list-group-item">
                        <span class="badge">{{cidade.logradouros}}</span>
                        Logradouros
                    </button>
                    <button type="button" class="list-group-item">
                        <span class="badge">{{cidade.paginas}}</span>
                        Paginas
                    </button>
                    <button type="button" class="list-group-item">
                        <span class="badge">{{cidade.posts}}</span>
                        Posts
                    </button>
                    <button type="button" class="list-group-item">
                        <span class="badge">{{cidade.comentarios}}</span>
                        Comentarios
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Principais Assuntos</h3>
            </div>
            <div class="panel-body" style="height: 350px; overflow-y: scroll;">
                <div class="list-group">
                    <a href="#" class="list-group-item" *ngFor="let assunto of assuntos.temas">
                        <span class="label label-primary">{{assunto.key}}</span>
                        <small>mencionado <strong>{{assunto.value}}</strong> vezes</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Principais Sentimentos</h3>
            </div>
            <div class="panel-body" style="height: 300px; overflow-y: scroll;">
                <div class="list-group">
                    <a href="#" class="list-group-item" *ngFor="let assunto of assuntos.qualidades">
                        <span class="label label-primary">{{assunto.key}}</span>
                        <small>mencionado <strong>{{assunto.value}}</strong> vezes</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h3></h3>
</div>